body {
    font-size: 14px;
    background-color: #ECECEC;
    color: #505050;
    max-width: 1368px;
    margin: 0 auto;
    font-family: arial;
}

.page{
    padding: 30px 5%;
}

.product-table{
    margin: 0 0 25px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th{
    border-bottom: 1px solid #DDDDDD;
}

td,th{
    text-align: center;
    width: 20px;
    padding: 10px;
}

.load-btn{
    text-decoration: none;
    color: #ECECEC;
    background: #999999;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.load-btn:hover{
    background: #666666;
    color: #DDDDDD;
    text-decoration: none;
}

.load-btn:focus,
.load-btn:active{
    text-decoration: none;
}

